
header{
    position: fixed;
    top: 0;
    width: 100%;
    .navbar-toggler{
        padding: 5px 10px;
        box-shadow: none !important;
        span{
            color: #F2BCBC;
            
        }
    }
    .navbar-brand{
        width: 200px;
    }
    .navbar-nav{
        background-color: #fff;
        text-align: center;
        a{
            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
    
    
}

